<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Claims</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-4">

<h2>Claim List</h2>

<a href="/ui/claim/create" class="btn btn-primary mb-3">+ Add Claim</a>

<table class="table table-bordered table-hover">

    <thead>
    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
        <th>Status</th>
        <th>Policy ID</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="c : ${claims}">
        <td th:text="${c.claimId}"></td>
        <td th:text="${c.claimAmount}"></td>
        <td th:text="${c.claimDate}"></td>
        <td th:text="${c.description}"></td>
        <td th:text="${c.status}"></td>
        <td th:text="${c.policyId}"></td>

        <td>
            <a th:href="@{'/ui/claim/delete/' + ${c.claimId}}"
               class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>